repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.0.286"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "23.7.0"
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.5.1"
    hooks:
      - id: mypy
        files: ^src
        args: []
        additional_dependencies:
          - "distlib~=0.3.5"
          - "pyproject-metadata~=0.7.1"
          - "tomli>=1.2.3,<3; python_version < '3.11'"
          - "click~=8.1.3"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: '(^tests/expected_contents/.*\.txt$)|(^docs/(Components|Config)\.md$)'
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: '^docs/(Components|Config)\.md$'
